.App {
  background-color: rgb(35, 35, 35);
  color: white;
  min-height: 100vh;
}

.dialogAddCancao > .p-dialog-content {
  display: flex;
  flex-direction: column;
}

.boxContribuidor {
  font-size: small;
}