body,
html,
#root,
.App {
  height: 100%;
  margin: 0;
  background-color: #232323;
  color: white;
  overflow: auto;
}

.App,
.body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.boxLetra {
  text-align: center;
}

.boxContribuidor {
  font-size: small;
}

/* Override PrimeReact */

.p-tabview-nav > li {
  margin-right: 1px;
}

.p-tabview,
.p-tabview-panels,
.dialogAddCancao > .p-dialog-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.p-tabview-panel {
  width: 80vw;
  margin: 0 auto;
}
